@charset "utf-8";

/*
        Project:
        Star Dust Stories Design Styles
        Author:
        Date:
        Filename: sd_effects.css
*/

/* HTML Styles */



/* Body Styles */




/* Navigation List Styles */




/* Section Left Styles */




/* Footer Styles */
